* {
    box-sizing: border-box;
}
body::before{
    background: url('/images/HomeBg.jpg') no-repeat center center/cover;
    opacity: 0.5;
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.offer{
    background-color: white;
    margin-top: -10px;
    text-align: center;
    
}
.offer a{
    text-decoration: none;
    color: black;
}
.navbar{
    background:transparent;
    color: black;
    text-align: end;
    text-decoration: none;
    font-size: large;
    position: fixed;
    width: 100%;
    /* border: 2px solid black; */
    display: inline-block;
}
.logo{
    float: left;
    width: 12%;
    height: 150px;
    background: transparent;
    background-image: url(/images/Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid black; */
    position: fixed;
}
.menu{
    display: inline-block;
    padding: 10px;
    margin-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .menu a{
    text-decoration: none;
    color: black;
}
.navbar .menu a:hover, .navbar .menu a.active{
    background-color: white;
    color:black;
    border: 1px solid white;
    padding: 6px 8px;
    border-radius: 4px;
}
#search{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

#search:focus{
    outline: none;
}

