* {
    box-sizing: border-box;
}
body{
    background-image: url('/images/HomeBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    background:transparent;
    color: black;
    text-align: end;
    text-decoration: none;
    font-size: large;
    position: sticky;
    width: 70%;
    float: right;
}
.logo{
    /* float: left; */
    display: inline-block;
    width: 12%;
    height: 150px;
    background: transparent;
    background-image: url(/images/Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.menu{
    display: inline-block;
    padding: 10px;
    margin-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}